---


import AddSeriesForm from '../components/AddSeriesForm.astro';
import LoginForm from '../components/LoginForm.astro';
import Layout from '../layouts/Layout.astro';
---

<main>
  <Layout title="add Series">

    <AddSeriesForm />
  </Layout>
</main>
