---


import LoginForm from '../components/LoginForm.astro';
import RegisterForm from '../components/RegisterForm.astro';
import Layout from '../layouts/Layout.astro';
---

<main>
  <Layout title="Register">
    <h1>register</h1>
    <RegisterForm />
  </Layout>
</main>
