---

import {getFilteredSeries } from "../pages/api/series"

import Series from "../interfaces/interfaces";
import SeriesCard from "./SeriesCard.astro";


let seriesData: Series[] = []; 


try {
  const title = Astro.url.searchParams.get('title');
const response = await getFilteredSeries({title});


if (!response.ok) throw new Error(response.statusText);
seriesData = await response.json();

} catch (error) {
console.error('Error fetching series:', error);
Astro.redirect('/');
}



---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-6">
  {seriesData.map(series => (
    <SeriesCard series={series} />
  ))}
</div>

<script>
    import {titleFilter} from '../stores/SearchStore'
titleFilter.subscribe(async (value) => {


});
</script>